<p>hard drive: <%= @computer.harddrive %> </p>
<p>ram:  <%= @computer.ram %> </p>
<p>price: <%= @computer.price %> </p>

Delete this computer
<%= button_to "delete", "/computers/#{@computer.id}", method: :delete %>